.grid {
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.square {
    height: 200px;
    width:200px;
    border: 1px solid black;
}

h1, h2 {
    margin: auto;
    text-align: center;
}

h1 {
    color: rgb(240, 158, 172);
}

h2 {
    color:rgb(135, 200, 209)
}

body {
    background-color: rgb(236,230,255)
}

.mole {
    background-image: url('image/cute\ mole.png');
}